*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #FFFFFF;
}
::-webkit-scrollbar {
    display: none;
}
body{
    background-color: #070724;
    background-image: url(images/dots.svg);
}
h1{
    font-family: 'Antonio', sans-serif;
    font-size: 5rem;
    line-height: 6.4375rem;
}
#p1{
    height: 10.9375rem;
}
.brand{
    font-family: 'Antonio';
    font-size: 1.75rem;
    color: #FFFFFF;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.navbar-nav{
    gap: 2rem;
}
.navbar-nav img{
    display: none;
}
.navbar-nav span{
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    color: #838391;
    letter-spacing: 0.0625rem;
}
.navbar{
    padding: 0.5rem 0.5rem;
    background-color: #070724 !important;
    border-bottom: 1px solid #38384F;
}
p{
    font-family: 'League Spartan', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5625rem;
    cursor: default;
}
a{
    text-decoration: none;
}
.source{
    font-family: 'League Spartan', sans-serif;
    font-size: 0.875rem;
    line-height: 1.5625rem;
    color: #838391;
}
.source a{
    font-weight: 700;
    color: #838391;
    text-decoration: underline;
}
.box, span{
    font-family: 'League Spartan', sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.5625rem;
    letter-spacing: 0.1625rem;
    color: #FFFFFF;
}
.right span{
    color: #838391;
    padding-left: 1rem;
    padding-right: 1rem;
}
h2{
    font-family: 'Antonio', sans-serif;
    font-size: 2.5rem;
    line-height: 3.25rem;
    letter-spacing: -0.09375rem;
}
h4{
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    font-size: 0.6875rem;
    color: #838391;
    letter-spacing: 0.0625rem;
}
.right h1{
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.fa-solid{
    font-size: 1.5rem;
    padding: 0;
    color: #FFFFFF;
}
.navbar-toggler{
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: transparent;
    border: none;
}
.button{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 18rem;
}
button{
    background-color: #070724;
    border: 1px solid #38384F;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.box{
    display: flex;
}
.rect{
    min-width: 15rem;
    border: 1px solid #38384F;
    padding: 1.25rem;
    cursor: default;
}
.fa-angle-right{
    display: none;
}
/* ------------------------------------------------JUPITER-----COLORS------------------------------------------------ */
.button_jupiter button:hover {
    background-color: #38384F;
}
.button_jupiter button:active {
    background-color: #D83A34;
}
.button_jupiter button:focus{
    background-color: #D83A34;
}
.button_jupiter button:focus{
    background-color: #D83A34;
}
.rect:hover{
    color: #D83A34;
    border-color: #D83A34;
}
.linkhover:hover{
    color: #D83A34;
}
h1{
    color: #D83A34;
}
.nav_jupiter:hover{
    color: #D83A34;
}
.jupiter_color{
    color: #D83A34 !important;
}
.a_jupiter{
    border-top: 2px solid #D83A34;
}
/* ------------------------------------------------VENUS-----COLORS------------------------------------------------ */
.button_venus button:hover {
    background-color: #38384F;
}
.button_venus button:active {
    background-color: #EDA249;
}
.button_venus button:focus{
    background-color: #EDA249;
}
.footer_venus .rect:hover{
    color: #EDA249;
    border-color: #EDA249;
}
.venus_h1{
    color: #EDA249;
}
.linkhover_venus:hover{
    color: #EDA249;
}
.nav_venus:hover{
    color: #EDA249;
}
.venus_color{
    color: #EDA249 !important;
}
.a_venus{
    border-top: 2px solid #EDA249;
}
/* ------------------------------------------------EARTH-----COLORS------------------------------------------------ */
.button_earth button:hover {
    background-color: #38384F;
}
.button_earth button:active {
    background-color: #6D2ED5;
}
.button_earth button:focus{
    background-color: #6D2ED5;
}
.footer_earth .rect:hover{
    color: #6D2ED5;
    border-color: #6D2ED5;
}
.earth_h1{
    color: #6D2ED5;
}
.linkhover_earth:hover{
    color: #6D2ED5;
}
.nav_earth:hover{
    color: #6D2ED5;
}
.earth_color{
    color: #6D2ED5 !important;
}
.a_earth{
    border-top: 2px solid #6D2ED5;
}
/* ------------------------------------------------MARS-----COLORS------------------------------------------------ */
.button_mars button:hover {
    background-color: #38384F;
}
.button_mars button:active {
    background-color: #D14C32;
}
.button_mars button:focus{
    background-color: #D14C32;
}
.footer_mars .rect:hover{
    color: #D14C32;
    border-color: #D14C32;
}
.mars_h1{
    color: #D14C32;
}
.linkhover_mars:hover{
    color: #D14C32;
}
.nav_mars:hover{
    color: #D14C32;
}
.mars_color{
    color: #D14C32 !important;
}
.a_mars{
    border-top: 2px solid #D14C32;
}
/* ------------------------------------------------MERCURY-----COLORS------------------------------------------------ */
.button_mercury button:hover {
    background-color: #38384F;
}
.button_mercury button:active {
    background-color: #419EBB;
}
.button_mercury button:focus{
    background-color: #419EBB;
}
.footer_mercury .rect:hover{
    color: #419EBB;
    border-color: #419EBB;
}
.mercury_h1{
    color: #419EBB;
}
.linkhover_mercury:hover{
    color: #419EBB;
}
.nav_mercury:hover{
    color: #419EBB;
}
.mercury_color{
    color: #419EBB !important;
}
.a_mercury{
    border-top: 2px solid #419EBB;
}
/* ------------------------------------------------SATURN-----COLORS------------------------------------------------ */
.button_saturn button:hover {
    background-color: #38384F;
}
.button_saturn button:active {
    background-color: #CD5120;
}
.button_saturn button:focus{
    background-color: #CD5120;
}
.footer_saturn .rect:hover{
    color: #CD5120;
    border-color: #CD5120;
}
.saturn_h1{
    color: #CD5120;
}
.linkhover_saturn:hover{
    color: #CD5120;
}
.nav_saturn:hover{
    color: #CD5120;
}
.saturn_color{
    color: #CD5120 !important;
}
.a_saturn{
    border-top: 2px solid #CD5120;
}
/* ------------------------------------------------URANUS-----COLORS------------------------------------------------ */
.button_uranus button:hover {
    background-color: #38384F;
}
.button_uranus button:active {
    background-color: #1EC1A2;
}
.button_uranus button:focus{
    background-color: #1EC1A2;
}
.footer_uranus .rect:hover{
    color: #1EC1A2;
    border-color: #1EC1A2;
}
.uranus_h1{
    color: #1EC1A2;
}
.linkhover_uranus:hover{
    color: #1EC1A2;
}
.nav_uranus:hover{
    color: #1EC1A2;
}
.uranus_color{
    color: #1EC1A2 !important;
}
.a_uranus{
    border-top: 2px solid #1EC1A2;
}
/* ------------------------------------------------NEPTUNE-----COLORS------------------------------------------------ */
.button_neptune button:hover {
    background-color: #38384F;
}
.button_neptune button:active {
    background-color: #2D68F0;
}
.button_neptune button:focus{
    background-color: #2D68F0;
}
.footer_neptune .rect:hover{
    color: #2D68F0;
    border-color: #2D68F0;
}
.neptune_h1{
    color: #2D68F0;
}
.linkhover_neptune:hover{
    color: #2D68F0;
}
.nav_neptune:hover{
    color: #2D68F0;
}
.neptune_color{
    color: #2D68F0 !important;
}
.a_neptune{
    border-top: 2px solid #2D68F0;
}
/* ------------------------------------------------THE-----END------------------------------------------------ */
.footer{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 3rem 2rem;
    flex-wrap: wrap;
}
.main{
    display: flex;
    justify-content: center;
    gap: 15rem;
    margin: 3rem 9.375rem;
    align-items: center;
    flex-wrap: wrap;
}
.right{
    width: 18rem;
}
.mainimage{
    width: 30rem;
}
@media only screen and (max-width: 1179px) {
    .main{
        flex-direction: column;
        width: 51.875rem;
        margin: 3rem auto;
    }
    .right {
        display: flex;
        width: 100%;
        gap: 5rem;
        justify-content: center;
        align-items: center;
        }
    .planet{
            width: 80rem;
    }
    .button{
        width: 80rem;
    }
    #p1{
        height: 7.8125rem;
    }
    .footer{
        margin-top: -1rem;
    }
}
  @media only screen and (max-width: 892px) {
    .container-fluid{
        flex-direction: column;
        gap: .5rem;
    }
    .navbar-nav{
        gap: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        border-top: 1px solid #38384F;
        padding-top: 0.75rem;
    }
    .main{
        width: auto;
        margin: 3rem auto;
    }
    .mainimage {
    width: 25rem;
    }
    .right {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    }
    .planet{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
    }
    .button{
        width: 20rem;
    }
    #p1{
        height: 4.6875rem;
    }
    .rect{
        width: 20rem;
    }
  }
  @media only screen and (max-width: 735px) {
    .rect {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .rect h4, .rect h2{
        margin: 0;
        line-height: normal;
    }
    .rect h4{
        font-size: 0.75rem;
    }
    .rect h2{
        font-size: 2rem;
    }
  }
  @media only screen and (max-width: 700px) {
    .mainimage {
    width: 20rem;
    }
  }
  @media only screen and (max-width: 575px) {
    .container-fluid{
        flex-direction: row;
    }
    .fa-angle-right, .navbar-nav img{
        display: inline;
    }
    .navbar-nav a{
        font-size: 0.875rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
        margin-left: 1rem;
    }
    .navbar-nav span{
        width: 100%;
    }
    .navbar {
        background-image: url(images/dots.svg);
    }
    .navbar-nav span{
        font-size: 0.85rem;
        letter-spacing: 0.35rem;
    }
    p{
        font-size: 1rem;
    }
    .navbar-nav a {
        border: none;
        width: 100%;
        padding-right: 2rem;
    }
    .fa-angle-right{
        font-size: 1rem;
        color: #838391;
    }
  }
  @media only screen and (max-width: 1415px) {
    .main {
    gap: 5rem;
    }
  }
  @media only screen and (max-width: 1227px) {
    .main {
        gap: 2.5rem;
        }
  }
  @media only screen and (max-width: 400px) {
    .mainimage{
        width: 15.625rem;
    }
    .main {
        gap: 2.5rem;
    }
    h1 {
        font-size: 3.5rem;
    }
    h2 {
        font-size: 2rem;
    }
  }
  @media only screen and (max-width: 671px) {
    #p1{
        height: 6.25rem;
    }
  }
  @media only screen and (max-width: 503px) {
    #p1{
        height: 7.8125rem;
    }
  }
  @media only screen and (max-width: 478px) {
    #p1{
        height: 9.375rem;
    }
  }
  @media only screen and (max-width: 418px) {
    #p1{
        height: 10.9375rem;
    }
  }
  @media screen and (min-device-width: 736px) and (max-device-width: 892px) { 
    .rect {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .rect h4, .rect h2{
        margin: 0;
        line-height: normal;
    }
    .rect h4{
        font-size: 0.75rem;
    }
    .rect h2{
        font-size: 2rem;
    }
}
@media screen and (min-device-width: 892px) and (max-device-width: 1119px) { 
    .rect {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .rect h4, .rect h2{
        margin: 0 0.3rem;
        line-height: normal;
        min-width: 10rem;
    }
    .rect h4{
        font-size: 0.75rem;
    }
    .rect h2{
        font-size: 2rem;
    }
}